aiodns==1.1.1
aiohttp==3.7.4
appdirs==1.4.3
async-timeout==1.4.0
certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
multidict==3.2.0
packaging==16.8
psutil==5.3.1
pycairo==1.13.3
pycares==2.3.0
pygobject==3.24.1
pymongo==3.5.1
pyparsing==2.2.0
python-xapp==1.0.0
redis==2.10.6
requests==2.18.4
setproctitle==1.1.10
six==1.11.0
team==1.0
urllib3==1.22
yarl==0.12.0
